#container {
	text-align: center;
	width: 90%;
	font-size: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	font-family: 'Pacifico', cursive;
	display: none;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: url("./dots.jpg") repeat;
	color:black;
}
h1 {
	margin-bottom: 5px;
}
@media screen and (max-width: 600px) {
	#container {
		font-size: 25px;
	}
	p {
		font-size: 12px;
	}
}
#menu {
	text-align:center;
	font-size:100%;
}
.a-menu, .a-link {
	text-decoration:none;
	color:black;
	font-size: 100%;
}
.a-menu {
	 margin-right:30px;
}
.a-last {
	margin-right:0px;
}
.a-menu:hover, .cont h4:hover, .a-link {
	color:#7A4A4B;
	cursor:pointer;
}
.cont {
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	max-width: 1000px;
	text-align:center;
}
button {
	padding: 10px 20px;
	margin: 20px;
	background-color:Transparent;
	border: 1px solid black;
	border-radius: 5px;
	cursor:pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}
button:hover {
	background-color:#cc7e80;
	transition-duration: 0.4s;
	text-decoration:bold;
}
h3 {
	font-size: 150%;
	text-decoration:none;
}
h4 {
	font-size: 100%;
}